# Visual Studio build artifacts
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
*.pch
*.pdb
*.idb
*.pdb.manifest
*.obj
*.iobj
*.ipdb
*.tlog
*.lib
*.exe
*.exe.old
*.ilk
*.exp
*.log
*.lastbuildstate
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb
*.nupkg
*.user
*.aps
*.opt
*.plg
*.iws
*.docstates
ipch/
.vs/
